*{
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-image: url("sakura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header{
    position: relative;
    left: 260px;
    top:25px;
    height: 35px;
}
ul{
    list-style-type: none;
   
    width: 14%;
}
li a{
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    border-radius: 25px;
    background:rgba(94, 211, 211, 0.5);
    color: rgb(8, 35, 124);
    
}
.edu{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.616);
    /*#92d1feb*/
    width: 50%;
    
    position: relative;
    padding: 30px 25px ;
    left: 250px;
    top: -250px;
    
}
.edu2{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.5);
    /*#92d1feb*/
    width: 50%;
    
    position: relative;
    padding: 30px 25px;
    left: 250px;
    top: -230px;
    
}
.edu3{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.5);
    /*#92d1feb*/
    width: 50%;
    position: relative;
    padding: 30px 25px;
    left: 250px;
    top: -210px;
    
}