*{
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-image: url("sakura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header{
    height: 35px;
}
ul{
    list-style-type: none;
   
    width: 13%;
}
li a{
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    transition: s;
    border-radius: 25px;
    background:rgba(102, 223, 223, 0.5);
    color: rgb(8, 35, 124);
}
.more{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.603);
    width: 50%;
    position: relative;
    padding: 30px;
    left: 250px;
    top: -250px;
}
h3{
    color: rgb(129, 204, 218);
}
/*.more2{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.5);
    width: 50%;
    position: relative;
    padding: 30px;
    left: 450px;
    top: -190px;
}*/